#aios-testimonials-custom-meta-box {
    background: transparent !important;
    border: none !important;
    padding: 0 !important;
    margin-top: 30px !important;
    h2.hndle,
    .handlediv {
        display: none !important
    }
    .inside {
        margin-top: 0;
        padding: 0 !important
    }
    .wpui-container {
        .wpui-tabs {
            .wpui-tabs-body {
                background: #FFF
            }
        }
    }
    .wpui-container {
        .wpui-tabs {
            .wpui-tabs-body {
                .wpui-tabs-content {
                    padding: 0
                }
            }
        }
    }
    .wpui-container {
        .wpui-tabs {
            .wpui-tabs-body {
                .wpui-tabs-content {
                    .wpui-child-tabs {
                        width: 100%;
                        padding: 20px 15px 20px;
                        margin: 0 0 10px;
                        background: #f5f5f5
                    }
                }
            }
        }
	}
	
	.aios_media_uploader  {
			.aios_media_uploader_image_holder{
				.aios_testimonials_close{
					top: -11px;
					right: -11px;
					background: #000;
				}
			}
	}

	
		
    /**************************************************
	 *
	 * Testimonials Agents
	 *
	 **************************************************/
	.agents-scrollable {
		overflow-y: scroll;
		height: 400px;
	}

	ul.testimonials-agents{
		margin-left: -15px;
		margin-right: -15px;
		&:after{
			content: '';
			display: block;
			clear: both;
		}
		li{
			float: left;
			width: 25%;
			position: relative;
			font-size: 0;
			padding: 15px 25px;
			transition: background 0.2s linear;
			&:hover{
				background: #e4e4e4;
			}
			label{
				float: left;
				width: 100%;
				margin-bottom: 0 !important;
				canvas{
					display: inline-block;
					vertical-align: middle;
					width: 23%;
					background-color: #181818;
					background-repeat: no-repeat !important;
					background-position: center center !important;
					background-size: cover !important;
					border-radius: 2px;
				}
				div.agentname{
					display: inline-block;
					position: relative;
					vertical-align: middle;
					width: 77%;
					font-size: 13px;
					line-height: 1.5;
					padding: 0 40px 0 15px;
				}
				input[type=checkbox]{
					position: absolute;
					top: 50%;
					right: 0;
					transform: translateY(-50%);
					width: 30px;
					height: 30px;
					margin-right: 0;
					&:checked:before{
						width: 30px;
						height: 30px;
					}
					&:checked:after{
						top: 0px;
						left: 1px;
						width: 10px;
						height: 20px;
						border-width: 0 3px 3px 0;
						transform: rotate(45deg);
					}
				}
			}
		}
	}
}